
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
   background-color: blueviolet;
  }
  .container{
    max-width: 800px;
    width: 100%;
    background-color: white;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0 5px 10px black;
  }
  .container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  .content .complaint-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  .complaint-details .input-box{
    margin-bottom: 15px;
    width: 90%
  }
  .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .complaint-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
  }
  h1 {
    text-align: center;
  }
  .complaint-details .input-box input:focus,
  .complaint-details .input-box input:hover{
    border-color: blueviolet;
  }
  .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   .link{
    text-align: center;
    text-decoration: none;
   }
  .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
  .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
  .button{
     height: 45px;
     margin: 35px 0;
   }
  .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: white;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     background-color: blueviolet;
   }
  
   .details {
    font-size: large;
   }

  .detail {
    font-size: small;
    font-style: italic;
  }
  
  .radio-box {
    width: 100%;
    padding-bottom: 15px;
  }

  .radio {
    padding: 10px;
  }