
ul {
list-style: none;
background-color: blueviolet;
}

ul li {
display: inline-block;
position: relative;
}

a li {
display: block;
padding: 20px 25px;
color: white;
text-decoration: none;
text-align: center;
border-radius: 20p;
}

a:hover {
    background-color: black;
}

ul li ul.dropdown li {
display: inline-block;
}

ul li ul.dropdown {
width: 100%;
position: absolute;
background-color: white;
z-index: 999;
display: none;
}