
<div class="heading1">
  <img *ngFor="let image of images" src="{{image.head}}" class="head-image">
  <h2>Complaint Management System</h2>
  <p>Complaint Management System provides an easy and systematic approach to register and track a complaint registered online.
    This way anyone can register their complaint without being physically present lodge their complaint.
    Complainer can track their complaint status in real time. It is really helpful in resolving the issue of the customer and satisfaction of the customer which in the end help the business.</p>
  </div>

  <div class="how-to">
    <img *ngFor="let image of images" src="{{image.head1}}" class="how-to-image">
    <h2>How to lodge a complaint?</h2>
   <p>1. Create an account by registering or using google.<br><br>
    2. Go to the Grievance page to upload your complaint.<br><br>
    3. You can add images while filing your complaint.<br><br>
    4. After that you can able to see the complaint details in the dashboard.<br><br>
    5. You can see how much your complaint is processed in the dashboard.<br>
</p><br>
</div>

<div class="heading3">
  <img *ngFor="let image of images" src="{{image.head2}}" class="head3-image">
  <h2>Features of this complaint management system</h2>
  <p><li>Real time tracking of the complaints.</li><br>
    <li>Admin panel can control the system and view the complaints registered online.</li><br>
    <li>Real time tracking of the complaints.</li><br>
    <li>Customer can provide feedback regarding the solution provided.</li><br>
    <li>Customers can also check the history of the complaints.</li><br>
    <li>Gives notification alert to customers after the status of the complaint change every time.</li></p>
  </div>
  <br><br><br><br><br>

