
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: blueviolet;
}
.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px black;
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.content .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
}
.user-details .input-box input:focus,
.user-details .input-box input:hover{
  border-color: blueviolet;
}

 .link {
  text-align: center;
  text-decoration: none;
 }
a:visited {
  text-decoration: none;
  color: blueviolet;
}
.button {
   height: 45px;
   margin: 35px ;
 }
.button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: white;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   background-color: blueviolet;
 }

@media screen and (max-width: 650px) {
 
  .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  body {
    margin: 60px;
    display: flex;
    animation-name: color;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }
  @keyframes color { 
    from {background-color: red;} 
    to {background-color: blueviolet;} 
    } 
}